<div style="font-size: 1.1rem; line-height: 1.8; white-space: pre-line;">
江古田ゴスペルクワイアのテナーメンバーを中心にメンズクワイアとして2023年5月に発足。
長谷川千洋氏をディレクターに迎え、同年のクリスマスコンサートにゲスト出演し好評を博す。
以降、毎年のクリスマスコンサートへの出演や全国のメンズクワイアが集結したイベントにおいてオープニングアクトを務めるなど、
聖書キリスト教会を拠点に、月2回（土曜午後・日曜午後）のリハーサルを行い精力的に活動中。
</div> 